In [1]:
print("hello world")

hello world

In [2]:
a = 1

In [3]:
type(a)

int

In [4]:
b = "Vikas"
print(b)
print(type(b))
b = 2
print(b)
print(type(b))

Vikas
<class 'str'>
2
<class 'int'>

## Python can change the datatype based on the user requirements. It can overwrite the variable type. The variable's memory can be reused in python.

In [5]:
a = 2.0
print(type(a))

<class 'float'>

In [6]:
a = "Sai"
b = "Kiran"
print(a, b)

a = "Sai"
b = "Kiran"
print(a +' ' +b)

Sai Kiran
Sai Kiran

## If we want space between two strings, then we can use , operator. But if we use + then we have to explicitly give space in one of the strings.

In [7]:
a = 6 // 2 #gives the quotient part
print(a)

3

In [8]:
#Comparision Operators
a = 7
b = 18
print ((a < b))

True

## Write a Python program to find the area of a triangle.

In [13]:
base = input("base of a triangle: ")
height = input("height of a triangle: ")
area = 0.5 * float(base) * float(height)
print(area)

5.0

## Write a program to swap two variables

In [ ]:
a = 1
b = 2
a, b = b, a #we can swap in one line only in python!
print(a, b)

2 1

## Write a program to convert cm to foot

In [ ]:
a = float(input("in cms: "))
foot = a / 30.48
print(foot)

1.0

## Write a program to find the first 20 Fibonacci Numbers

In [ ]:
a = 0
b = 1
while(a <= 20):
    c = a + b
    print(c)
    a = b
    b = c
    c = c+1

1
2
3
5
8
13
21